<style>
	.footer {
			 bottom:0px;
			 left:0px;
			 width:100%;
			 background:skyblue ;
			 padding:8px;
			 color:black;
			 text-align: center;
			position:fixed;
			 height:1%;}
}
</style>

<div class="footer"></div>